In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_excel('car_dealership_customer_data.xlsx')

In [4]:
df.head()

,customer_id,age,gender,city,income,budget,brand,car_model,car_price,mileage,fuel_type,sales_executive_id,test_drive_taken,followup_delay_days,followup_count,discount_offered,brand_loyalty_score,competitor_visit,will_buy,loss_reason
0,CUST0001,60,Male,Pune,1417862,1232595,Toyota,Sedan,610084,22,Petrol,SE03,0,1,5,143949,10,1,0,Competitor offer
1,CUST0002,50,Male,Delhi,2490421,796981,Kia,SUV,1514391,13,Diesel,SE01,1,1,0,14239,7,0,0,Price too high
2,CUST0003,36,Female,Hyderabad,2467354,779270,Kia,SUV,845876,19,EV,SE04,1,8,3,27313,3,1,0,Price too high
3,CUST0004,64,Male,Mumbai,1397353,1405782,Hyundai,Hatchback,1529649,22,Diesel,SE03,1,3,5,42103,3,1,0,Price too high
4,CUST0005,29,Female,Mumbai,1153695,883455,Toyota,SUV,973006,16,Petrol,SE01,0,3,2,88771,2,1,0,Price too high

In [5]:
df

,customer_id,age,gender,city,income,budget,brand,car_model,car_price,mileage,fuel_type,sales_executive_id,test_drive_taken,followup_delay_days,followup_count,discount_offered,brand_loyalty_score,competitor_visit,will_buy,loss_reason
0,CUST0001,60,Male,Pune,1417862,1232595,Toyota,Sedan,610084,22,Petrol,SE03,0,1,5,143949,10,1,0,Competitor offer
1,CUST0002,50,Male,Delhi,2490421,796981,Kia,SUV,1514391,13,Diesel,SE01,1,1,0,14239,7,0,0,Price too high
2,CUST0003,36,Female,Hyderabad,2467354,779270,Kia,SUV,845876,19,EV,SE04,1,8,3,27313,3,1,0,Price too high
3,CUST0004,64,Male,Mumbai,1397353,1405782,Hyundai,Hatchback,1529649,22,Diesel,SE03,1,3,5,42103,3,1,0,Price too high
4,CUST0005,29,Female,Mumbai,1153695,883455,Toyota,SUV,973006,16,Petrol,SE01,0,3,2,88771,2,1,0,Price too high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,CUST0996,54,Female,Mumbai,2253256,1356228,Kia,Hatchback,1212917,17,Diesel,SE03,0,4,4,45266,3,0,0,Brand trust issue
996,CUST0997,25,Male,Pune,2124964,711385,Toyota,SUV,875601,25,Diesel,SE02,1,6,5,87643,4,1,0,Price too high
997,CUST0998,43,Female,Pune,1688509,1027407,Tata,Sedan,1338821,15,Petrol,SE01,0,5,4,58704,6,1,0,Price too high
998,CUST0999,23,Female,Pune,783779,623068,Maruti,SUV,1339446,29,EV,SE04,1,4,3,117374,7,1,0,Price too high
999,CUST1000,31,Female,Delhi,870508,756427,Tata,Sedan,792441,26,Diesel,SE04,1,7,4,8382,7,1,0,Price too high

In [6]:
df[df['loss_reason']!='Brand trust issue']

,customer_id,age,gender,city,income,budget,brand,car_model,car_price,mileage,fuel_type,sales_executive_id,test_drive_taken,followup_delay_days,followup_count,discount_offered,brand_loyalty_score,competitor_visit,will_buy,loss_reason
0,CUST0001,60,Male,Pune,1417862,1232595,Toyota,Sedan,610084,22,Petrol,SE03,0,1,5,143949,10,1,0,Competitor offer
1,CUST0002,50,Male,Delhi,2490421,796981,Kia,SUV,1514391,13,Diesel,SE01,1,1,0,14239,7,0,0,Price too high
2,CUST0003,36,Female,Hyderabad,2467354,779270,Kia,SUV,845876,19,EV,SE04,1,8,3,27313,3,1,0,Price too high
3,CUST0004,64,Male,Mumbai,1397353,1405782,Hyundai,Hatchback,1529649,22,Diesel,SE03,1,3,5,42103,3,1,0,Price too high
4,CUST0005,29,Female,Mumbai,1153695,883455,Toyota,SUV,973006,16,Petrol,SE01,0,3,2,88771,2,1,0,Price too high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,CUST0995,48,Male,Pune,942927,1211527,Tata,SUV,1214995,14,Petrol,SE03,0,3,1,135162,4,0,0,Price too high
996,CUST0997,25,Male,Pune,2124964,711385,Toyota,SUV,875601,25,Diesel,SE02,1,6,5,87643,4,1,0,Price too high
997,CUST0998,43,Female,Pune,1688509,1027407,Tata,Sedan,1338821,15,Petrol,SE01,0,5,4,58704,6,1,0,Price too high
998,CUST0999,23,Female,Pune,783779,623068,Maruti,SUV,1339446,29,EV,SE04,1,4,3,117374,7,1,0,Price too high
999,CUST1000,31,Female,Delhi,870508,756427,Tata,Sedan,792441,26,Diesel,SE04,1,7,4,8382,7,1,0,Price too high

In [7]:
for i in df.select_dtypes(include='object').columns:
    print(i)
    print(df[i].unique())
    print()

customer_id
['CUST0001' 'CUST0002' 'CUST0003' 'CUST0004' 'CUST0005' 'CUST0006'
 'CUST0007' 'CUST0008' 'CUST0009' 'CUST0010' 'CUST0011' 'CUST0012'
 'CUST0013' 'CUST0014' 'CUST0015' 'CUST0016' 'CUST0017' 'CUST0018'
 'CUST0019' 'CUST0020' 'CUST0021' 'CUST0022' 'CUST0023' 'CUST0024'
 'CUST0025' 'CUST0026' 'CUST0027' 'CUST0028' 'CUST0029' 'CUST0030'
 'CUST0031' 'CUST0032' 'CUST0033' 'CUST0034' 'CUST0035' 'CUST0036'
 'CUST0037' 'CUST0038' 'CUST0039' 'CUST0040' 'CUST0041' 'CUST0042'
 'CUST0043' 'CUST0044' 'CUST0045' 'CUST0046' 'CUST0047' 'CUST0048'
 'CUST0049' 'CUST0050' 'CUST0051' 'CUST0052' 'CUST0053' 'CUST0054'
 'CUST0055' 'CUST0056' 'CUST0057' 'CUST0058' 'CUST0059' 'CUST0060'
 'CUST0061' 'CUST0062' 'CUST0063' 'CUST0064' 'CUST0065' 'CUST0066'
 'CUST0067' 'CUST0068' 'CUST0069' 'CUST0070' 'CUST0071' 'CUST0072'
 'CUST0073' 'CUST0074' 'CUST0075' 'CUST0076' 'CUST0077' 'CUST0078'
 'CUST0079' 'CUST0080' 'CUST0081' 'CUST0082' 'CUST0083' 'CUST0084'
 'CUST0085' 'CUST0086' 'CUST0087' 'CUST0088' 'CUST0089' 'CUST0090'
 'CUST0091' 'CUST0092' 'CUST0093' 'CUST0094' 'CUST0095' 'CUST0096'
 'CUST0097' 'CUST0098' 'CUST0099' 'CUST0100' 'CUST0101' 'CUST0102'
 'CUST0103' 'CUST0104' 'CUST0105' 'CUST0106' 'CUST0107' 'CUST0108'
 'CUST0109' 'CUST0110' 'CUST0111' 'CUST0112' 'CUST0113' 'CUST0114'
 'CUST0115' 'CUST0116' 'CUST0117' 'CUST0118' 'CUST0119' 'CUST0120'
 'CUST0121' 'CUST0122' 'CUST0123' 'CUST0124' 'CUST0125' 'CUST0126'
 'CUST0127' 'CUST0128' 'CUST0129' 'CUST0130' 'CUST0131' 'CUST0132'
 'CUST0133' 'CUST0134' 'CUST0135' 'CUST0136' 'CUST0137' 'CUST0138'
 'CUST0139' 'CUST0140' 'CUST0141' 'CUST0142' 'CUST0143' 'CUST0144'
 'CUST0145' 'CUST0146' 'CUST0147' 'CUST0148' 'CUST0149' 'CUST0150'
 'CUST0151' 'CUST0152' 'CUST0153' 'CUST0154' 'CUST0155' 'CUST0156'
 'CUST0157' 'CUST0158' 'CUST0159' 'CUST0160' 'CUST0161' 'CUST0162'
 'CUST0163' 'CUST0164' 'CUST0165' 'CUST0166' 'CUST0167' 'CUST0168'
 'CUST0169' 'CUST0170' 'CUST0171' 'CUST0172' 'CUST0173' 'CUST0174'
 'CUST0175' 'CUST0176' 'CUST0177' 'CUST0178' 'CUST0179' 'CUST0180'
 'CUST0181' 'CUST0182' 'CUST0183' 'CUST0184' 'CUST0185' 'CUST0186'
 'CUST0187' 'CUST0188' 'CUST0189' 'CUST0190' 'CUST0191' 'CUST0192'
 'CUST0193' 'CUST0194' 'CUST0195' 'CUST0196' 'CUST0197' 'CUST0198'
 'CUST0199' 'CUST0200' 'CUST0201' 'CUST0202' 'CUST0203' 'CUST0204'
 'CUST0205' 'CUST0206' 'CUST0207' 'CUST0208' 'CUST0209' 'CUST0210'
 'CUST0211' 'CUST0212' 'CUST0213' 'CUST0214' 'CUST0215' 'CUST0216'
 'CUST0217' 'CUST0218' 'CUST0219' 'CUST0220' 'CUST0221' 'CUST0222'
 'CUST0223' 'CUST0224' 'CUST0225' 'CUST0226' 'CUST0227' 'CUST0228'
 'CUST0229' 'CUST0230' 'CUST0231' 'CUST0232' 'CUST0233' 'CUST0234'
 'CUST0235' 'CUST0236' 'CUST0237' 'CUST0238' 'CUST0239' 'CUST0240'
 'CUST0241' 'CUST0242' 'CUST0243' 'CUST0244' 'CUST0245' 'CUST0246'
 'CUST0247' 'CUST0248' 'CUST0249' 'CUST0250' 'CUST0251' 'CUST0252'
 'CUST0253' 'CUST0254' 'CUST0255' 'CUST0256' 'CUST0257' 'CUST0258'
 'CUST0259' 'CUST0260' 'CUST0261' 'CUST0262' 'CUST0263' 'CUST0264'
 'CUST0265' 'CUST0266' 'CUST0267' 'CUST0268' 'CUST0269' 'CUST0270'
 'CUST0271' 'CUST0272' 'CUST0273' 'CUST0274' 'CUST0275' 'CUST0276'
 'CUST0277' 'CUST0278' 'CUST0279' 'CUST0280' 'CUST0281' 'CUST0282'
 'CUST0283' 'CUST0284' 'CUST0285' 'CUST0286' 'CUST0287' 'CUST0288'
 'CUST0289' 'CUST0290' 'CUST0291' 'CUST0292' 'CUST0293' 'CUST0294'
 'CUST0295' 'CUST0296' 'CUST0297' 'CUST0298' 'CUST0299' 'CUST0300'
 'CUST0301' 'CUST0302' 'CUST0303' 'CUST0304' 'CUST0305' 'CUST0306'
 'CUST0307' 'CUST0308' 'CUST0309' 'CUST0310' 'CUST0311' 'CUST0312'
 'CUST0313' 'CUST0314' 'CUST0315' 'CUST0316' 'CUST0317' 'CUST0318'
 'CUST0319' 'CUST0320' 'CUST0321' 'CUST0322' 'CUST0323' 'CUST0324'
 'CUST0325' 'CUST0326' 'CUST0327' 'CUST0328' 'CUST0329' 'CUST0330'
 'CUST0331' 'CUST0332' 'CUST0333' 'CUST0334' 'CUST0335' 'CUST0336'
 'CUST0337' 'CUST0338' 'CUST0339' 'CUST0340' 'CUST0341' 'CUST0342'
 'CUST0343' 'CUST0344' 'CUST0345' 'CUST0346' 'CUST0347' 'CUST0348'
 'CUST0349' 'CUST0350' 'CUST0351' 'CUST0352' 'CUST0353' 'CUST0354'
 'CUST0355' 'CUST0356' 'CUST0357' 'CUST0358' 'CUST0359' 'CUST0360'
 'CUST0361' 'CUST0362' 'CUST0363' 'CUST0364' 'CUST0365' 'CUST0366'
 'CUST0367' 'CUST0368' 'CUST0369' 'CUST0370' 'CUST0371' 'CUST0372'
 'CUST0373' 'CUST0374' 'CUST0375' 'CUST0376' 'CUST0377' 'CUST0378'
 'CUST0379' 'CUST0380' 'CUST0381' 'CUST0382' 'CUST0383' 'CUST0384'
 'CUST0385' 'CUST0386' 'CUST0387' 'CUST0388' 'CUST0389' 'CUST0390'
 'CUST0391' 'CUST0392' 'CUST0393' 'CUST0394' 'CUST0395' 'CUST0396'
 'CUST0397' 'CUST0398' 'CUST0399' 'CUST0400' 'CUST0401' 'CUST0402'
 'CUST0403' 'CUST0404' 'CUST0405' 'CUST0406' 'CUST0407' 'CUST0408'
 'CUST0409' 'CUST0410' 'CUST0411' 'CUST0412' 'CUST0413' 'CUST0414'
 'CUST0415' 'CUST0416' 'CUST0417' 'CUST0418' 'CUST0419' 'CUST0420'
 'CUST0421' 'CUST0422' 'CUST0423' 'CUST0424' 'CUST0425' 'CUST0426'
 'CUST0427' 'CUST0428' 'CUST0429' 'CUST0430' 'CUST0431' 'CUST0432'
 'CUST0433' 'CUST0434' 'CUST0435' 'CUST0436' 'CUST0437' 'CUST0438'
 'CUST0439' 'CUST0440' 'CUST0441' 'CUST0442' 'CUST0443' 'CUST0444'
 'CUST0445' 'CUST0446' 'CUST0447' 'CUST0448' 'CUST0449' 'CUST0450'
 'CUST0451' 'CUST0452' 'CUST0453' 'CUST0454' 'CUST0455' 'CUST0456'
 'CUST0457' 'CUST0458' 'CUST0459' 'CUST0460' 'CUST0461' 'CUST0462'
 'CUST0463' 'CUST0464' 'CUST0465' 'CUST0466' 'CUST0467' 'CUST0468'
 'CUST0469' 'CUST0470' 'CUST0471' 'CUST0472' 'CUST0473' 'CUST0474'
 'CUST0475' 'CUST0476' 'CUST0477' 'CUST0478' 'CUST0479' 'CUST0480'
 'CUST0481' 'CUST0482' 'CUST0483' 'CUST0484' 'CUST0485' 'CUST0486'
 'CUST0487' 'CUST0488' 'CUST0489' 'CUST0490' 'CUST0491' 'CUST0492'
 'CUST0493' 'CUST0494' 'CUST0495' 'CUST0496' 'CUST0497' 'CUST0498'
 'CUST0499' 'CUST0500' 'CUST0501' 'CUST0502' 'CUST0503' 'CUST0504'
 'CUST0505' 'CUST0506' 'CUST0507' 'CUST0508' 'CUST0509' 'CUST0510'
 'CUST0511' 'CUST0512' 'CUST0513' 'CUST0514' 'CUST0515' 'CUST0516'
 'CUST0517' 'CUST0518' 'CUST0519' 'CUST0520' 'CUST0521' 'CUST0522'
 'CUST0523' 'CUST0524' 'CUST0525' 'CUST0526' 'CUST0527' 'CUST0528'
 'CUST0529' 'CUST0530' 'CUST0531' 'CUST0532' 'CUST0533' 'CUST0534'
 'CUST0535' 'CUST0536' 'CUST0537' 'CUST0538' 'CUST0539' 'CUST0540'
 'CUST0541' 'CUST0542' 'CUST0543' 'CUST0544' 'CUST0545' 'CUST0546'
 'CUST0547' 'CUST0548' 'CUST0549' 'CUST0550' 'CUST0551' 'CUST0552'
 'CUST0553' 'CUST0554' 'CUST0555' 'CUST0556' 'CUST0557' 'CUST0558'
 'CUST0559' 'CUST0560' 'CUST0561' 'CUST0562' 'CUST0563' 'CUST0564'
 'CUST0565' 'CUST0566' 'CUST0567' 'CUST0568' 'CUST0569' 'CUST0570'
 'CUST0571' 'CUST0572' 'CUST0573' 'CUST0574' 'CUST0575' 'CUST0576'
 'CUST0577' 'CUST0578' 'CUST0579' 'CUST0580' 'CUST0581' 'CUST0582'
 'CUST0583' 'CUST0584' 'CUST0585' 'CUST0586' 'CUST0587' 'CUST0588'
 'CUST0589' 'CUST0590' 'CUST0591' 'CUST0592' 'CUST0593' 'CUST0594'
 'CUST0595' 'CUST0596' 'CUST0597' 'CUST0598' 'CUST0599' 'CUST0600'
 'CUST0601' 'CUST0602' 'CUST0603' 'CUST0604' 'CUST0605' 'CUST0606'
 'CUST0607' 'CUST0608' 'CUST0609' 'CUST0610' 'CUST0611' 'CUST0612'
 'CUST0613' 'CUST0614' 'CUST0615' 'CUST0616' 'CUST0617' 'CUST0618'
 'CUST0619' 'CUST0620' 'CUST0621' 'CUST0622' 'CUST0623' 'CUST0624'
 'CUST0625' 'CUST0626' 'CUST0627' 'CUST0628' 'CUST0629' 'CUST0630'
 'CUST0631' 'CUST0632' 'CUST0633' 'CUST0634' 'CUST0635' 'CUST0636'
 'CUST0637' 'CUST0638' 'CUST0639' 'CUST0640' 'CUST0641' 'CUST0642'
 'CUST0643' 'CUST0644' 'CUST0645' 'CUST0646' 'CUST0647' 'CUST0648'
 'CUST0649' 'CUST0650' 'CUST0651' 'CUST0652' 'CUST0653' 'CUST0654'
 'CUST0655' 'CUST0656' 'CUST0657' 'CUST0658' 'CUST0659' 'CUST0660'
 'CUST0661' 'CUST0662' 'CUST0663' 'CUST0664' 'CUST0665' 'CUST0666'
 'CUST0667' 'CUST0668' 'CUST0669' 'CUST0670' 'CUST0671' 'CUST0672'
 'CUST0673' 'CUST0674' 'CUST0675' 'CUST0676' 'CUST0677' 'CUST0678'
 'CUST0679' 'CUST0680' 'CUST0681' 'CUST0682' 'CUST0683' 'CUST0684'
 'CUST0685' 'CUST0686' 'CUST0687' 'CUST0688' 'CUST0689' 'CUST0690'
 'CUST0691' 'CUST0692' 'CUST0693' 'CUST0694' 'CUST0695' 'CUST0696'
 'CUST0697' 'CUST0698' 'CUST0699' 'CUST0700' 'CUST0701' 'CUST0702'
 'CUST0703' 'CUST0704' 'CUST0705' 'CUST0706' 'CUST0707' 'CUST0708'
 'CUST0709' 'CUST0710' 'CUST0711' 'CUST0712' 'CUST0713' 'CUST0714'
 'CUST0715' 'CUST0716' 'CUST0717' 'CUST0718' 'CUST0719' 'CUST0720'
 'CUST0721' 'CUST0722' 'CUST0723' 'CUST0724' 'CUST0725' 'CUST0726'
 'CUST0727' 'CUST0728' 'CUST0729' 'CUST0730' 'CUST0731' 'CUST0732'
 'CUST0733' 'CUST0734' 'CUST0735' 'CUST0736' 'CUST0737' 'CUST0738'
 'CUST0739' 'CUST0740' 'CUST0741' 'CUST0742' 'CUST0743' 'CUST0744'
 'CUST0745' 'CUST0746' 'CUST0747' 'CUST0748' 'CUST0749' 'CUST0750'
 'CUST0751' 'CUST0752' 'CUST0753' 'CUST0754' 'CUST0755' 'CUST0756'
 'CUST0757' 'CUST0758' 'CUST0759' 'CUST0760' 'CUST0761' 'CUST0762'
 'CUST0763' 'CUST0764' 'CUST0765' 'CUST0766' 'CUST0767' 'CUST0768'
 'CUST0769' 'CUST0770' 'CUST0771' 'CUST0772' 'CUST0773' 'CUST0774'
 'CUST0775' 'CUST0776' 'CUST0777' 'CUST0778' 'CUST0779' 'CUST0780'
 'CUST0781' 'CUST0782' 'CUST0783' 'CUST0784' 'CUST0785' 'CUST0786'
 'CUST0787' 'CUST0788' 'CUST0789' 'CUST0790' 'CUST0791' 'CUST0792'
 'CUST0793' 'CUST0794' 'CUST0795' 'CUST0796' 'CUST0797' 'CUST0798'
 'CUST0799' 'CUST0800' 'CUST0801' 'CUST0802' 'CUST0803' 'CUST0804'
 'CUST0805' 'CUST0806' 'CUST0807' 'CUST0808' 'CUST0809' 'CUST0810'
 'CUST0811' 'CUST0812' 'CUST0813' 'CUST0814' 'CUST0815' 'CUST0816'
 'CUST0817' 'CUST0818' 'CUST0819' 'CUST0820' 'CUST0821' 'CUST0822'
 'CUST0823' 'CUST0824' 'CUST0825' 'CUST0826' 'CUST0827' 'CUST0828'
 'CUST0829' 'CUST0830' 'CUST0831' 'CUST0832' 'CUST0833' 'CUST0834'
 'CUST0835' 'CUST0836' 'CUST0837' 'CUST0838' 'CUST0839' 'CUST0840'
 'CUST0841' 'CUST0842' 'CUST0843' 'CUST0844' 'CUST0845' 'CUST0846'
 'CUST0847' 'CUST0848' 'CUST0849' 'CUST0850' 'CUST0851' 'CUST0852'
 'CUST0853' 'CUST0854' 'CUST0855' 'CUST0856' 'CUST0857' 'CUST0858'
 'CUST0859' 'CUST0860' 'CUST0861' 'CUST0862' 'CUST0863' 'CUST0864'
 'CUST0865' 'CUST0866' 'CUST0867' 'CUST0868' 'CUST0869' 'CUST0870'
 'CUST0871' 'CUST0872' 'CUST0873' 'CUST0874' 'CUST0875' 'CUST0876'
 'CUST0877' 'CUST0878' 'CUST0879' 'CUST0880' 'CUST0881' 'CUST0882'
 'CUST0883' 'CUST0884' 'CUST0885' 'CUST0886' 'CUST0887' 'CUST0888'
 'CUST0889' 'CUST0890' 'CUST0891' 'CUST0892' 'CUST0893' 'CUST0894'
 'CUST0895' 'CUST0896' 'CUST0897' 'CUST0898' 'CUST0899' 'CUST0900'
 'CUST0901' 'CUST0902' 'CUST0903' 'CUST0904' 'CUST0905' 'CUST0906'
 'CUST0907' 'CUST0908' 'CUST0909' 'CUST0910' 'CUST0911' 'CUST0912'
 'CUST0913' 'CUST0914' 'CUST0915' 'CUST0916' 'CUST0917' 'CUST0918'
 'CUST0919' 'CUST0920' 'CUST0921' 'CUST0922' 'CUST0923' 'CUST0924'
 'CUST0925' 'CUST0926' 'CUST0927' 'CUST0928' 'CUST0929' 'CUST0930'
 'CUST0931' 'CUST0932' 'CUST0933' 'CUST0934' 'CUST0935' 'CUST0936'
 'CUST0937' 'CUST0938' 'CUST0939' 'CUST0940' 'CUST0941' 'CUST0942'
 'CUST0943' 'CUST0944' 'CUST0945' 'CUST0946' 'CUST0947' 'CUST0948'
 'CUST0949' 'CUST0950' 'CUST0951' 'CUST0952' 'CUST0953' 'CUST0954'
 'CUST0955' 'CUST0956' 'CUST0957' 'CUST0958' 'CUST0959' 'CUST0960'
 'CUST0961' 'CUST0962' 'CUST0963' 'CUST0964' 'CUST0965' 'CUST0966'
 'CUST0967' 'CUST0968' 'CUST0969' 'CUST0970' 'CUST0971' 'CUST0972'
 'CUST0973' 'CUST0974' 'CUST0975' 'CUST0976' 'CUST0977' 'CUST0978'
 'CUST0979' 'CUST0980' 'CUST0981' 'CUST0982' 'CUST0983' 'CUST0984'
 'CUST0985' 'CUST0986' 'CUST0987' 'CUST0988' 'CUST0989' 'CUST0990'
 'CUST0991' 'CUST0992' 'CUST0993' 'CUST0994' 'CUST0995' 'CUST0996'
 'CUST0997' 'CUST0998' 'CUST0999' 'CUST1000']

gender
['Male' 'Female']

city
['Pune' 'Delhi' 'Hyderabad' 'Mumbai' 'Bangalore']

brand
['Toyota' 'Kia' 'Hyundai' 'Honda' 'Tata' 'Maruti']

car_model
['Sedan' 'SUV' 'Hatchback']

fuel_type
['Petrol' 'Diesel' 'EV']

sales_executive_id
['SE03' 'SE01' 'SE04' 'SE02']

loss_reason
['Competitor offer' 'Price too high' 'Sales follow-up delay'
 'Brand trust issue' 'Mileage concern' nan 'Other']

In [8]:
df['will_buy'].value_counts()

will_buy
0    937
1     63
Name: count, dtype: int64

In [9]:
df['budget_gap'] = df['budget'] - df['car_price']
df['followup_efficiency'] = df['followup_count'] / (df['followup_delay_days']+1)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          1000 non-null   object
 1   age                  1000 non-null   int64
 2   gender               1000 non-null   object
 3   city                 1000 non-null   object
 4   income               1000 non-null   int64
 5   budget               1000 non-null   int64
 6   brand                1000 non-null   object
 7   car_model            1000 non-null   object
 8   car_price            1000 non-null   int64
 9   mileage              1000 non-null   int64
 10  fuel_type            1000 non-null   object
 11  sales_executive_id   1000 non-null   object
 12  test_drive_taken     1000 non-null   int64
 13  followup_delay_days  1000 non-null   int64
 14  followup_count       1000 non-null   int64
 15  discount_offered     1000 non-null   int64
 16  brand_loyalty_score  1000 non-null   int64
 17  competitor_visit     1000 non-null   int64
 18  will_buy             1000 non-null   int64
 19  loss_reason          937 non-null    object
 20  budget_gap           1000 non-null   int64
 21  followup_efficiency  1000 non-null   float64
dtypes: float64(1), int64(13), object(8)
memory usage: 172.0+ KB

In [11]:
df.columns

Index(['customer_id', 'age', 'gender', 'city', 'income', 'budget', 'brand',
       'car_model', 'car_price', 'mileage', 'fuel_type', 'sales_executive_id',
       'test_drive_taken', 'followup_delay_days', 'followup_count',
       'discount_offered', 'brand_loyalty_score', 'competitor_visit',
       'will_buy', 'loss_reason', 'budget_gap', 'followup_efficiency'],
      dtype='object')

In [12]:
df['loss_reason'].fillna('No Reason')

0       Competitor offer
1         Price too high
2         Price too high
3         Price too high
4         Price too high
             ...
995    Brand trust issue
996       Price too high
997       Price too high
998       Price too high
999       Price too high
Name: loss_reason, Length: 1000, dtype: object

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["loss_reason_encoded"] = le.fit_transform(df["loss_reason"])

In [14]:
x = df.drop(columns=["customer_id", "sales_executive_id", "will_buy","budget", "car_price", 'followup_count', 'followup_delay_days','loss_reason','loss_reason_encoded'])
y = df['will_buy']
z = df['loss_reason_encoded']

In [15]:
x.columns

Index(['age', 'gender', 'city', 'income', 'brand', 'car_model', 'mileage',
       'fuel_type', 'test_drive_taken', 'discount_offered',
       'brand_loyalty_score', 'competitor_visit', 'budget_gap',
       'followup_efficiency'],
      dtype='object')

In [16]:

binary_cols = [
    "test_drive_taken",
   
    "competitor_visit"
]
for col in binary_cols:
    x[col] = x[col].astype(int)


x["gender"] = x["gender"].map({"Male": 1, "Female": 0})

In [17]:
from sklearn.preprocessing import OneHotEncoder

ohe_cols = ["city", "brand", "car_model", "fuel_type"]
ohe = OneHotEncoder(
    sparse_output=False,
    drop = "first",
    handle_unknown="ignore"
)
ohe.fit(x[ohe_cols])

ohe_array = ohe.transform(x[ohe_cols])

ohe_feature_names = ohe.get_feature_names_out(ohe_cols)
ohe_df = pd.DataFrame(ohe_array, columns=ohe_feature_names, index=x.index)

In [18]:

np.random.seed(42)
flip_prob = 0.15  

if "test_drive_taken" in x.columns:
    original_sum = x["test_drive_taken"].sum()
    
    flip_mask = np.random.random(len(x)) < flip_prob
    x.loc[flip_mask, "test_drive_taken"] = 1 - x.loc[flip_mask, "test_drive_taken"]
    
    new_sum = x["test_drive_taken"].sum()
    flipped_count = flip_mask.sum()
    
    print(f"Flipped {flipped_count} values ({flip_prob*100:.0f}%) in test_drive_taken")
    print(f"Before: {int(original_sum)} ones, After: {int(new_sum)} ones")
else:
    print("test_drive_taken not in features")

Flipped 166 values (15%) in test_drive_taken
Before: 475 ones, After: 487 ones

In [19]:
x['test_drive_taken'].unique()

array([0, 1])

In [20]:
x = x.drop(columns=ohe_cols)
x = pd.concat([x, ohe_df], axis=1)

In [21]:
x.columns

Index(['age', 'gender', 'income', 'mileage', 'test_drive_taken',
       'discount_offered', 'brand_loyalty_score', 'competitor_visit',
       'budget_gap', 'followup_efficiency', 'city_Delhi', 'city_Hyderabad',
       'city_Mumbai', 'city_Pune', 'brand_Hyundai', 'brand_Kia',
       'brand_Maruti', 'brand_Tata', 'brand_Toyota', 'car_model_SUV',
       'car_model_Sedan', 'fuel_type_EV', 'fuel_type_Petrol'],
      dtype='object')

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test, z_train, z_test = train_test_split(
    x, y, z, test_size=0.2, random_state=42,stratify=y
)

In [23]:
from imblearn.over_sampling import SMOTE

print("Original class distribution:")
print(y_train.value_counts())

smote = SMOTE(random_state=42, k_neighbors=3)
X_train_balanced, y_train_balanced = smote.fit_resample(X_train, y_train)

print("\nAfter SMOTE:")
print(pd.Series(y_train_balanced).value_counts())

Original class distribution:
will_buy
0    750
1     50
Name: count, dtype: int64

After SMOTE:
will_buy
0    750
1    750
Name: count, dtype: int64

In [24]:
'''import category_encoders as ce

te_cols = ["city", "brand", "car_model", "previous_brand_owned", "fuel_type", "trust_index"]

encoder = ce.TargetEncoder(cols=te_cols)

X_train = encoder.fit_transform(X_train, y_train)

X_test = encoder.transform(X_test)'''

'import category_encoders as ce\n\nte_cols = ["city", "brand", "car_model", "previous_brand_owned", "fuel_type", "trust_index"]\n\nencoder = ce.TargetEncoder(cols=te_cols)\n\nX_train = encoder.fit_transform(X_train, y_train)\n\nX_test = encoder.transform(X_test)'

In [26]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier

# Balanced complexity - not too simple, not too complex
model = RandomForestClassifier(
    n_estimators=150,
    max_depth=4,
    min_samples_split=15,
    min_samples_leaf=8,
    max_features='sqrt',
    class_weight="balanced", 
    random_state=42
)
model.fit(X_train_balanced, y_train_balanced)
print('RandomForest - Training Score: ',model.score(X_train_balanced, y_train_balanced))
print('RandomForest - Testing Score: ',round(model.score(X_test, y_test),5))

model1 = GradientBoostingClassifier(
    n_estimators=100,
    learning_rate=0.02,
    max_depth=4,
    min_samples_split=15,
    min_samples_leaf=8,
    subsample=0.8,
    random_state=42
)
model1.fit(X_train_balanced, y_train_balanced)
print('\nGradientBoosting - Training Score: ',model1.score(X_train_balanced, y_train_balanced))
print('GradientBoosting - Testing Score: ',round(model1.score(X_test, y_test),5))

# XGBoost with moderate regularization (not too aggressive)
model2 = XGBClassifier(
    n_estimators=300,
    max_depth=3,
    learning_rate=0.02,
    subsample=0.8,
    colsample_bytree=0.8,
    min_child_weight=3,
    gamma=0.5,
    reg_alpha=0.5,
    reg_lambda=1.0,
    scale_pos_weight=1.0,
    eval_metric="logloss",
    random_state=42
)
model2.fit(X_train_balanced, y_train_balanced) 
print("\nXGBoost Purchase Model - Train:", model2.score(X_train_balanced, y_train_balanced))
print("XGBoost Purchase Model - Test :", model2.score(X_test, y_test))

# Reason model (only for non-buyers) with moderate regularization
reason_mask_train = y_train == 0
X_reason_train = X_train[reason_mask_train]
z_reason_train = z_train[reason_mask_train]

reason_mask_test = y_test == 0
X_reason_test = X_test[reason_mask_test]
z_reason_test = z_test[reason_mask_test]

if "No Reason" in le.classes_:
    no_reason_label = le.transform(["No Reason"])[0]
    train_mask = z_reason_train != no_reason_label
    test_mask = z_reason_test != no_reason_label
    X_reason_train_filtered = X_reason_train[train_mask]
    z_reason_train_filtered = z_reason_train[train_mask]
    X_reason_test_filtered = X_reason_test[test_mask]
    z_reason_test_filtered = z_reason_test[test_mask]
else:
    X_reason_train_filtered = X_reason_train
    z_reason_train_filtered = z_reason_train
    X_reason_test_filtered = X_reason_test
    z_reason_test_filtered = z_reason_test

# Apply SMOTE to balance reason classes
smote_reason = SMOTE(random_state=42, k_neighbors=2)
X_reason_balanced, z_reason_balanced = smote_reason.fit_resample(X_reason_train_filtered, z_reason_train_filtered)

# Train XGBoost reason model with moderate regularization
num_reason_classes = len(np.unique(z_reason_balanced))
reason_model = XGBClassifier(
    n_estimators=200,
    max_depth=3,
    learning_rate=0.02,
    subsample=0.8,
    colsample_bytree=0.8,
    min_child_weight=3,
    gamma=0.5,
    reg_alpha=0.5,
    reg_lambda=1.0,
    objective="multi:softprob",
    num_class=num_reason_classes,
    eval_metric="mlogloss",
    random_state=42
)
reason_model.fit(X_reason_balanced, z_reason_balanced)

print("\nReason Model (XGBoost) - Train:", reason_model.score(X_reason_balanced, z_reason_balanced))
print("Reason Model (XGBoost) - Test :", reason_model.score(X_reason_test_filtered, z_reason_test_filtered))

RandomForest - Training Score:  0.9613333333333334
RandomForest - Testing Score:  0.965

GradientBoosting - Training Score:  0.966
GradientBoosting - Testing Score:  0.955

XGBoost Purchase Model - Train: 0.986
XGBoost Purchase Model - Test : 0.965

Reason Model (XGBoost) - Train: 0.9892787524366472
Reason Model (XGBoost) - Test : 0.9625668449197861

In [ ]:
X_train_balanced.shape

(1500, 23)

In [28]:
from sklearn.metrics import (accuracy_score, classification_report, 
                             confusion_matrix, f1_score, recall_score, 
                             precision_score, roc_auc_score)
import seaborn as sns


print("RANDOM FOREST EVALUATION....")

y_pred = model.predict(X_test)
y_pred_proba = model.predict(X_test)

print(f"Accuracy: {accuracy_score(y_test, y_pred):.4f}")
print(f"Precision: {precision_score(y_test, y_pred):.4f}")
print(f"Recall (Sensitivity): {recall_score(y_test, y_pred):.4f}")
print(f"F1-Score: {f1_score(y_test, y_pred):.4f}")
print(f"ROC-AUC: {roc_auc_score(y_test, y_pred_proba):.4f}")
print("\nClassification Report:")
print(classification_report(y_test, y_pred))
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

print()
print("GRADIENT BOOSTING EVALUATION....")

y_pred = model1.predict(X_test)
y_pred_proba = model1.predict(X_test)

print(f"Accuracy: {accuracy_score(y_test, y_pred):.4f}")
print(f"Precision: {precision_score(y_test, y_pred):.4f}")
print(f"Recall (Sensitivity): {recall_score(y_test, y_pred):.4f}")
print(f"F1-Score: {f1_score(y_test, y_pred):.4f}")
print(f"ROC-AUC: {roc_auc_score(y_test, y_pred_proba):.4f}")
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

print()
print("XGBOOST EVALUATION....")

y_pred = model2.predict(X_test)
y_pred_proba = model2.predict(X_test)

print(f"Accuracy: {accuracy_score(y_test, y_pred):.4f}")
print(f"Precision: {precision_score(y_test, y_pred):.4f}")
print(f"Recall (Sensitivity): {recall_score(y_test, y_pred):.4f}")
print(f"F1-Score: {f1_score(y_test, y_pred):.4f}")
print(f"ROC-AUC: {roc_auc_score(y_test, y_pred_proba):.4f}")
print("\nClassification Report:")
print(classification_report(y_test, y_pred))
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))


print()
print("REASON MODEL EVALUATION....")

z_pred = reason_model.predict(X_reason_test_filtered)
z_pred_proba = reason_model.predict_proba(X_reason_test_filtered)

print(f"Accuracy: {accuracy_score(z_reason_test_filtered, z_pred):.4f}")
print(f"Precision: {precision_score(z_reason_test_filtered, z_pred, average='weighted'):.4f}")
print(f"Recall: {recall_score(z_reason_test_filtered, z_pred, average='weighted'):.4f}")
print(f"F1-Score: {f1_score(z_reason_test_filtered, z_pred, average='weighted'):.4f}")

RANDOM FOREST EVALUATION....
Accuracy: 0.9650
Precision: 0.7500
Recall (Sensitivity): 0.6923
F1-Score: 0.7200
ROC-AUC: 0.8381

Classification Report:
              precision    recall  f1-score   support

           0       0.98      0.98      0.98       187
           1       0.75      0.69      0.72        13

    accuracy                           0.96       200
   macro avg       0.86      0.84      0.85       200
weighted avg       0.96      0.96      0.96       200


Confusion Matrix:
[[184   3]
 [  4   9]]

GRADIENT BOOSTING EVALUATION....
Accuracy: 0.9550
Precision: 0.6250
Recall (Sensitivity): 0.7692
F1-Score: 0.6897
ROC-AUC: 0.8686

Classification Report:
              precision    recall  f1-score   support

           0       0.98      0.97      0.98       187
           1       0.62      0.77      0.69        13

    accuracy                           0.95       200
   macro avg       0.80      0.87      0.83       200
weighted avg       0.96      0.95      0.96       200


XGBOOST EVALUATION....
Accuracy: 0.9650
Precision: 0.8750
Recall (Sensitivity): 0.5385
F1-Score: 0.6667
ROC-AUC: 0.7666

Classification Report:
              precision    recall  f1-score   support

           0       0.97      0.99      0.98       187
           1       0.88      0.54      0.67        13

    accuracy                           0.96       200
   macro avg       0.92      0.77      0.82       200
weighted avg       0.96      0.96      0.96       200


Confusion Matrix:
[[186   1]
 [  6   7]]

REASON MODEL EVALUATION....
Accuracy: 0.9626
Precision: 0.9600
Recall: 0.9626
F1-Score: 0.9611

In [ ]:
import pandas as pd

imp = pd.Series(
    model.feature_importances_,
    index=X_train_balanced.columns
).sort_values(ascending=False)

print(imp.head(100))

budget_gap             0.374470
followup_efficiency    0.176989
car_model_Sedan        0.081617
brand_Kia              0.062425
city_Mumbai            0.042183
fuel_type_EV           0.038046
competitor_visit       0.033020
city_Delhi             0.029970
car_model_SUV          0.025034
brand_Toyota           0.021301
brand_Tata             0.018008
test_drive_taken       0.017765
brand_Maruti           0.016981
fuel_type_Petrol       0.014160
income                 0.010706
city_Hyderabad         0.008061
city_Pune              0.006426
brand_Hyundai          0.006322
discount_offered       0.005015
brand_loyalty_score    0.004543
age                    0.002977
mileage                0.002520
gender                 0.001461
dtype: float64

In [ ]:
import shap
explainer = shap.Explainer(model)

In [ ]:
user_dict = {
    "age": 30,
    "gender": 1,
    "income":1200000,
    "mileage": 15,
    "test_drive_taken": 1,
    "discount_offered": 75000,
    "competitor_visit": 0,
    "budget_gap": 200000,
    "followup_efficiency": 4.5,
    'brand_loyalty_score': 9,
    "city_Pune": 0,
    "city_Delhi": 0,
    "city_Hyderabad": 0,
    "city_Mumbai": 1,
    "city_Bangalore": 0,
    "brand_Toyota": 1,
    "brand_Kia": 0,
    "brand_Hyundai": 0,
    "brand_Honda": 0,
    "brand_Tata": 0,
    "brand_Maruti": 0,
    "car_model_Sedan": 1,
    "car_model_SUV": 0,
    "car_model_Hatchback": 0,
    "fuel_type_Petrol": 1,
    "fuel_type_Diesel": 0,
    "fuel_type_EV": 0
}

user_df = pd.DataFrame([user_dict])
user_df = user_df.reindex(columns=model.feature_names_in_, fill_value=0)

pred = model.predict(user_df)[0]
prob = model.predict_proba(user_df)[0][1]

result = "YES" if pred == 1 else "NO"
print(f"\nPrediction: {result}")
print('Confidence', round(prob * 100, 3))

if pred == 0:
    reason_pred = reason_model.predict(user_df)[0]
    reason_text = le.inverse_transform([reason_pred])[0]
    print("Predicted Loss Reason:", reason_text)

Prediction: NO
Confidence 37.801
Predicted Loss Reason: Other

In [ ]:
shap_values

array([[[-3.15746307e-04,  3.15746307e-04],
        [ 1.74969590e-03, -1.74969590e-03],
        [ 2.23609263e-03, -2.23609263e-03],
        [ 5.05311680e-04, -5.05311680e-04],
        [-1.14414360e-02,  1.14414360e-02],
        [-7.57965376e-05,  7.57965376e-05],
        [-7.45487712e-04,  7.45487712e-04],
        [-1.37619147e-02,  1.37619147e-02],
        [-1.03449845e-01,  1.03449845e-01],
        [-8.23647053e-02,  8.23647053e-02],
        [ 1.97611929e-02, -1.97611929e-02],
        [ 2.73399420e-03, -2.73399420e-03],
        [ 1.11814962e-01, -1.11814962e-01],
        [ 4.71927142e-03, -4.71927142e-03],
        [-1.57618262e-03,  1.57618262e-03],
        [ 2.01099566e-02, -2.01099566e-02],
        [-4.98997499e-04,  4.98997499e-04],
        [ 6.72374725e-03, -6.72374725e-03],
        [ 5.13801863e-02, -5.13801863e-02],
        [ 9.01910704e-03, -9.01910704e-03],
        [ 1.08515716e-01, -1.08515716e-01],
        [-2.01368357e-03,  2.01368357e-03],
        [-2.12733377e-03,  2.12733377e-03]]])

In [ ]:
if pred == 0 : 
    shap_values = explainer.shap_values(user_df)

    no_buy_shap = shap_values[0, :, 0]

    shap_df = pd.DataFrame({
        "Feature": X_train_balanced.columns,
        "SHAP_Value": no_buy_shap
    }).sort_values(by="SHAP_Value", ascending=True)

    print("\nTop factors causing rejection:")
    print(shap_df.head(10))

Top factors causing rejection:
                Feature  SHAP_Value
8            budget_gap   -0.103450
9   followup_efficiency   -0.082365
7      competitor_visit   -0.013762
4      test_drive_taken   -0.011441
22     fuel_type_Petrol   -0.002127
21         fuel_type_EV   -0.002014
14        brand_Hyundai   -0.001576
6   brand_loyalty_score   -0.000745
16         brand_Maruti   -0.000499
0                   age   -0.000316

In [ ]:
import pickle
import os

# Create models directory
models_dir = "saved_models"
os.makedirs(models_dir, exist_ok=True)

# Save all necessary objects for the Streamlit app
artifacts = {
    "model2": model2,
    "reason_model": reason_model,
    "le": le,
    "ohe": ohe,
    "ohe_cols": ohe_cols,
    "X_train_balanced": X_train_balanced,
}

with open(f"{models_dir}/artifacts.pkl", "wb") as f:
    pickle.dump(artifacts, f)

print("✓ Models and preprocessors saved to 'saved_models/artifacts.pkl'")

✓ Models and preprocessors saved to 'saved_models/artifacts.pkl'

In [ ]:
df[df['will_buy'] == 1].iloc[0, :]

customer_id             CUST0036
age                           42
gender                      Male
city                   Bangalore
income                    568854
budget                    689134
brand                    Hyundai
car_model                    SUV
car_price                 573606
mileage                       12
fuel_type                 Petrol
sales_executive_id          SE01
test_drive_taken               1
followup_delay_days            2
followup_count                 2
discount_offered           81352
brand_loyalty_score            7
competitor_visit               0
will_buy                       1
loss_reason                  NaN
budget_gap                115528
followup_efficiency     0.666667
loss_reason_encoded            6
Name: 35, dtype: object